<h1>新規作成ページ</h1>

<%= form_with model: @task do |form| %>
    <%= form.label :content, "タスク" %>
    <%= form.text_field :content %>
    <%= form.submit "登録" %>
<% end %>

<%= link_to "一覧へ戻る", tasks_path %>